.checkout h2{
    color: crimson;
    margin-bottom: 6%;
}
.checkout img{
    margin-top: 7%;
    width: 30%;
    height: 30%;
}
@media only screen and (max-width:576px){
    .checkout h2{
        color: crimson;
        margin-bottom: 60%;
    }
    .checkout img{
        margin-top: 60%;
        width: 60%;
        height: 60%;
    }
}